<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CCAPIEndPoint" value=""/>
    <add key="CCUsername" value=""/>
    <add key="CCPassword" value=""/>
    <add key="FilePath" value=""/>
  </appSettings>
</configuration>